.content-header {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 72px;
    z-index: 999;
}

.sorting-header {
    width: 45rem;
}

.reviews-content {
    z-index: 10;
}

.review-card {
    width: 45rem;
    cursor: pointer;
}

.review-card:hover {
    background-color: whitesmoke;
}

.review-body {
    font-style: italic;
}

.review-date {
    font-style: italic;
    color: rgba(0, 0, 0, 0.558);
}

.pagination-menu {
    width: 47rem;
}

.pagination-menu-item {
    width: 2rem;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
    border: .25rem solid black;
    border-radius: 6px;
    padding-top: .25rem;
}

.pagination-menu-item:hover {
    color: rgba(0, 0, 0, 0.647);
    border-color: rgba(0, 0, 0, 0.647);
}

.pagination-number {
    color: white;
    background-color: black;
    width: 2rem;
    text-align: center;
    font-size: large;
    font-weight: 600;
    border: .25rem solid black;
    border-radius: 6px;
    padding-top: .3rem;
}