<div class="flex-container header" fxLayout="row" fxLayoutAlign="center">
    <div class="flex-container sorting-header ml-3 mt-3" fxLayout="row" fxLayoutAlign="end">
        <mat-form-field appearance="fill">
            <mat-label>View Per Page:</mat-label>
            <mat-select [(value)]="selectedIncrement" (selectionChange)="incrementChanged($event.value)">
              <mat-option *ngFor="let increment of increments" [value]="increment">
                {{increment}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Sort By:</mat-label>
            <mat-select [(value)]="selectedSorter" (selectionChange)="sorterChanged($event.value)">
              <mat-option *ngFor="let sorter of sorters" [value]="sorter.value">
                {{sorter.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>
<div class="flex-container" fxLayout="row" fxLayoutAlign="center">
    <div class="flex-container ml-3 mr-3 mt-1 reviews-content" fxLayout="column" fxLayoutAlign="center">
        <mat-card *ngFor="let review of displayedReviews" class="review-card mt-2" (click)="selectReview(review)">
            <div class="flex-container" fxLayout="row" fxLayoutAlign="start">
                <div *ngFor="let number of [1,2,3,4,5]">
                    <fa-icon *ngIf="calcStars(review.rating)[0] >= number" [icon]="faStar"></fa-icon>
                </div>
                <fa-icon *ngIf="calcStars(review.rating)[1] >= 0.5" [icon]="faStarHalfAlt"></fa-icon>
                <div *ngFor="let number of [5,4,3,2,1]">
                    <fa-icon *ngIf="(calcStars(review.rating)[0] < number && calcStars(review.rating)[1] < 0.5) ||
                                    (calcStars(review.rating)[0] < number - 1)" [icon]="faWhiteStar"></fa-icon>
                </div>
                <div *ngIf="selectedReview != null && selectedReview.id == review.id" class="ml-1">{{review.rating}}</div>
                <div *ngIf="selectedReview == null || selectedReview.id != review.id" class="ml-3">"{{truncatedReview(review.body)}}"</div>                
            </div>
            <div *ngIf="selectedReview != null && selectedReview.id == review.id" class="mt-2">"{{review.body}}"</div>
            <div *ngIf="selectedReview != null && selectedReview.id == review.id" class="mt-2">{{review.author}}</div>
            <div *ngIf="selectedReview != null && selectedReview.id == review.id" class="mt-2">{{globalService.formatDate(review.publish_date)}}</div>
        </mat-card>
    </div>
</div>
<div class="flex-container mt-2 mb-3" fxLayout="row" fxLayoutAlign="center">
    <div class="flex-container pagination-menu" fxLayout="row" fxLayoutAlign="space-between">
        <fa-icon class="pagination-menu-item" [icon]="faAngleDoubleLeft" (click)="paginateList('First')"></fa-icon>
        <fa-icon class="pagination-menu-item" [icon]="faAngleLeft" (click)="paginateList('Previous')"></fa-icon>
        <div class="pagination-number">{{selectedPage}}</div>
        <fa-icon class="pagination-menu-item" [icon]="faAngleRight" (click)="paginateList('Next')"></fa-icon>
        <fa-icon class="pagination-menu-item" [icon]="faAngleDoubleRight" (click)="paginateList('Last')"></fa-icon>
    </div>
</div>
