<div class="flex-container header" fxLayout="row" fxLayoutAlign="center">
    <div class="flex-container sorting-header ml-3 mt-3" fxLayout="row" fxLayoutAlign="end">
        <mat-form-field appearance="fill">
            <mat-label>View Per Page:</mat-label>
            <mat-select [(value)]="selectedIncrement" (selectionChange)="incrementChanged($event.value)">
              <mat-option *ngFor="let increment of increments" [value]="increment">
                {{increment}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Sort By:</mat-label>
            <mat-select [(value)]="selectedSorter" (selectionChange)="sorterChanged($event.value)">
              <mat-option *ngFor="let sorter of sorters" [value]="sorter.value">
                {{sorter.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>
<div class="flex-container" fxLayout="row" fxLayoutAlign="center">
    <div class="flex-container ml-3 mr-3 mt-1 reviews-content" fxLayout="column" fxLayoutAlign="center">
        <mat-card *ngFor="let review of displayedReviews" class="review-card mt-2" (click)="selectReview(review)">
            <!-- The line below was used to check the ratings against the star values -->
            <!-- <div>{{calcStars(review.rating)[0]}} {{calcStars(review.rating)[1]}}</div> -->
            <div class="flex-container" fxLayout="row" fxLayoutAlign="start">
                <div *ngFor="let number of [1,2,3,4,5]">
                    <fa-icon *ngIf="calcStars(review.rating)[0] >= number" [icon]="faStar"></fa-icon>
                </div>
                <fa-icon *ngIf="calcStars(review.rating)[1] >= 0.5" [icon]="faStarHalfAlt"></fa-icon>
                <div *ngFor="let number of [5,4,3,2,1]">
                    <fa-icon *ngIf="(calcStars(review.rating)[0] < number && calcStars(review.rating)[1] < 0.5) ||
                                    (calcStars(review.rating)[0] < number - 1)" [icon]="faWhiteStar"></fa-icon>
                </div>
                <div class="ml-3">"{{truncatedReview(review.body)}}"</div>
            </div>
            <!-- <div>{{globalService.formatDate(review.publish_date)}}</div>
            <div>"{{review.body}}"</div>
            <div>{{review.author}}</div> -->
        </mat-card>
    </div>
</div>
