.header {
    background-color: white;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 5rem;
    z-index: 999;
}

.sorting-header {
    width: 45rem;
}

.reviews-content {
    /* height: 60rem; */
    overflow-y: scroll; 
    z-index: 10;
}

.review-card {
    width: 45rem;
    cursor: pointer;
}

.review-card:hover {
    background-color: whitesmoke;
}